.drawer-payment-sidebar{
    .content-drawer-payment-sidebar{
        
        .info-order{
           .info-customer{
            padding-bottom: 20px;
           }
        }
        .info-payment{
            .item-infor-payment{               
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 20px;
                font-weight: 450;
               .input-number{
                padding: 5px;
                outline: 0;
                font-size: 1rem;
                border: none;  border-bottom: 2px solid rgba(0, 0, 0, 0.188);
                &:focus{
                    border-top: none !important;
                    border-left: none !important;
                    border-right: none !important;
                
                }
                &:hover {
                    border-color: rgb(88, 151, 234);
                   
                }
            
               }
            }
        }
    }
}
.button-payment{
   background-color: rgb(27, 158, 27);
//    :hover{
//     background-color: rgb(18, 120, 18);
//    }
    
}