.history-warehouse-page{
    .title-button-history-warehouse-page{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-history-warehouse-page{
            font-size: 1.8rem;
            font-weight: 600;
        
        }
        .button-add-history-warehouse{
            span{
                padding-left: 5px;
            }
    
        }
    }
    .container-history-warehouse-page{
        width: 100%;
        min-height: 400px;
        background-color:white;
        box-shadow: 0px 0px 10px #e7e2e2;
  
        .header-history-warehouse-page{
            .form-css{
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding:10px 10px 0 10px;
               .type-search-history-warehouse{
                margin-right: 10px;
               }
               .input-search-history-warehouse{
                   width: 100%;
               }   
           }
           
        }
        .content-history-warehouse-page{
            padding-right: 20px;
            .icon-button-history-warehouse{
                margin-right: 5px;
            }
           
        }
    
    }
   
    
}
.table-delete:hover{
    color: red;
}