.item-order-detail{
    display: flex;
    padding: 5px;
    align-items: center;
   .name-item-order-dt{
        margin-right: 170px;
   }
   .amount-item-order-dt{
    margin-right: 50px;
    
   }
   .price-item-order-dt{
    
   }
}